<a href="https://colab.research.google.com/github/abhishekagnihotri19/MetaSciforTechnology_Training/blob/main/30May24_BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class Work 30 May 2024

In [ ]:
message="hello_world"
print(message)

hello_world

In [ ]:
Age=30
if Age>30:
  print ("Hi! this is abhishek")
else:
  print("Iam Misri")

Iam Misri

In [ ]:
dobs="december"
if dobs =="sept":
  print("Its Ivan Month")
else:
  print('No its Not Ivan Month')

No its Not Ivan Month

In [ ]:
#Defininng function
def add(a,b):
  return a+b
add(4,5)

9

In [ ]:
#Switch case Statement
def number(argument):
  match argument:
    case 0:
      return "zero"
    case 1:
      return "one"
    case 2:
      return "two"
    case default:
      return "default statement"
head = number(5)
print (head)

default statement


**HOME WORK DATED  30-05-2024**

EXAMPLE OF FUNCTIONS

Example 1 Defining of Full Name

In [6]:
def fullName (last_name):
  print("My full Name is: Abhishek +",  last_name)

fullName("agnihotri")

My full Name is: Abhishek + agnihotri

Example 2 Finding of Square

In [8]:
def finding_square(num):
  square_value= num*num
  return square_value
square_value=  finding_square (9)
print("Square Value of Given Number is ", square_value)

Square Value of Given Number is  81

Example 3 The Pass Statement

In [10]:
def future_function():
    pass

# this will execute without any action or error
future_function()

In [11]:
import math

Example 4 Python Squareroot *function*

In [13]:
def square_root(number):
  return math.sqrt(number)
  result=math.sqrt(number)
  print("The Square root of given number is ", result)
square_root(625)

25.0

Example 5: Power

In [14]:
def toThePowerOf(firstNum, powNumber):
  return pow(firstNum, powNumber)
  result_1=pow(firstNum, powNumber)
  print("The rsultant Value after powering off given numbe is :", result_1)

toThePowerOf(20,30)

1073741824000000000000000000000000000000

Example 6: Arbitrary Arguments, *args

If the number of arguments is unknown, add a * before the parameter name:

In [15]:
def elder_kids(*kidsName):
  return kidsName[3]
  results=kidsName[3]
  print("Name of Elder kid is:", results)

elder_kids("ivan", "karuna","katha","isha")

'isha'

**EXAMPLE OF CONDITIONAL STATEMENTS**

# EXAMPLE 1 : IF Condition

In [16]:
def furture_abhishek (pathway):
  if pathway=="Machine_Learning":
    print ("Qualified DataScientist")
  else:
    print ("You have to work Hard")

furture_abhishek("Machine_Learning")

Qualified DataScientist

Example 2: if Else if

In [17]:
def year_2024_prediction (score):
  if score==90:
    print("I will be Selected in Meta Scifor Technologies for Job")
  elif score==75:
    print("I will be selected for Internship Only")
  else:
    print("I can complete my Training Part Only and Better Luck Next Time")
year_2024_prediction(90)

I will be Selected in Meta Scifor Technologies for Job

Example 3

In [24]:
def qualification_dataScientist (skill):
  if skill > 70:

        if skill > 90:
          print ("You can be DataScientist")

        elif skill >75:
          print ("You need to attend classes of Urooj Madam for upskilling Yourself")
  else:
    print("You have to work Hard on Your Basics")

qualification_dataScientist(76)

You need to attend classes of Urooj Madam for upskilling Yourself